.container {
    display: flex;
    gap: 2%;
    padding: 2%;
    background-color: gold;
}

p {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-family: Tahoma, sans-serif;
    font-size: 135%;
    flex: 2;
}

nav {
    flex: 6;
    display: flex;
    text-align: center;
}

a {
    flex: 1;
    font-family: Tahoma, sans-serif;
    font-size: 115%;
    text-decoration: none;
}

a.open, a.close {
    display: none;
}
