* {
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

@font-face { 
    font-family: myFilmHeader;
    src: url(fonts/lobster.otf); 
}

header {
    width: 55%;
    margin: 2% auto 3% auto;
    position: relative;
    display: flex;
}

header > img {
    flex: 1;
    width: 25%;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 575%;
    color: #fff;
/*    background-color: red;*/
}

h1 > span {
    padding-top: 1.75%;
    padding-bottom: 4.5%;
    font-family: myFilmHeader;
}

h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1% 0;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

hr {
    width: 55%;
    margin: 0 auto;
}

hr:last-of-type {
    margin-bottom: 3%;
}

div {
    width: 55%;
    margin: 3% auto;
    background-color: #eaeaea;
    display: flex;
}

div > img {
    width: 25%;
}

div > section {
    display: flex;
    padding-left: 10%;
    flex-direction: column;
    justify-content: center;
}

.arabic_translation {
    padding: 5% 7%;
    font-family: "Times New Roman", serif;
    font-size: 125%;
    direction: rtl;
    background-color: greenyellow;
}

@media (max-width: 680px) {
    
    body {
        background-color: teal;
    }
    
    header {
        width: 97%;
        margin: 5% auto 5% auto;
    }
    
    h1 {
        font-size: 280%;
    }
    
    h1 > span {
        padding-top: 0;
        padding-bottom: 10.5%;
    }
    
    h2 {
        font-size: 135%;
    }
    
    div {
        width: 97%;
        margin: 5% auto;
        flex-direction: column;
    }
    
    hr {
        width: 97%;
    }
    
    hr:last-of-type {
        margin-bottom: 5%;
    }
    
   div > img {
       width: 90%;
       height: auto;
       margin: 5% auto;
    }

   div > section {
       width: 87.25%;
       margin: 5% auto;
       padding-left: 0;
    }
    
}
